*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  background-color: whitesmoke;
  width: 1000px;
  margin: 30px auto;

  display: grid;
  grid-template-rows: 150px 150px 150px;
  grid-template-columns: 200px 200px 200px;

  grid-gap: 25px;
}

.item {
  padding: 20px;
  font-size: 30px;
  font-family: sans-serif;
  color: brown;
}

.item--1 {
  background-color: violet;
}

.item--2 {
  background-color: indigo;
}

.item--3 {
  background-color: blue;
}

.item--4 {
  background-color: green;
}

.item--5 {
  background-color: yellow;
}

.item--6 {
  background-color: orange;
}

.item--7 {
  background-color: red;
}
